<fieldset>
  <legend>{{ text_credit_card }}</legend>
  <form id="payment">
    <div id="nmi-collectjs-loading">
      <div class="text-center alert alert-info"><i class="fas fa-circle-o-notch fa-spin"></i>&nbsp;{{ text_loading }}</div>
    </div>
    <div id="nmi-collectjs-timeout" class="text-center alert alert-warning d-none"><i class="fas fa-circle-o-notch fa-spin"></i>&nbsp;{{ text_timeout }}</div>
    <div class="row mb-3 required">
      <label for="ccnumber" class="col-sm-2 col-form-label">{{ entry_cc_number }}</label>
      <div class="col-sm-10">
        <input type="text" name="ccnumber" value="" placeholder="" id="ccnumber" maxlength="22" class="form-control"/>
        <div class="alert alert-danger d-none" id="error-ccnumber"></div>
      </div>
    </div>
    <div class="row mb-3 required">
      <label for="ccexp" class="col-sm-2 col-form-label">{{ entry_cc_expire_date }}</label>
      <div class="col-sm-10">
        <div id="ccexp" class="text-nowrap" style="width: 100%;">
            <select name="card_expire_month" class="form-select">
              <option value="">{{ text_month }}</option>
              {% for month in months %}
                <option value="{{ month }}">{{ month }}</option>
              {% endfor %}
            </select>
            <select name="card_expire_year" class="form-select">
              <option value="">{{ text_year }}</option>
              {% for year in years %}
                <option value="{{ year }}">{{ year }}</option>
              {% endfor %}
            </select>
        </div>
        <div class="alert alert-danger d-none" id="error-ccexp"></div>
      </div>
    </div>
    <div class="row mb-3 required">
      <label for="cvv" class="col-sm-2 col-form-label">{{ entry_cc_cvv2 }}</label>
      <div class="col-sm-10">
		<input type="text" name="card_cvv" value="" placeholder="" id="cvv" size="3" maxLength="4" class="form-control"/>
        <div class="alert alert-danger d-none" id="error-cvv"></div>
      </div>
    </div>
    <input type="hidden" name="cc_number" id="token" />

    {% if logged %}
      <div class="form-check">
        <input type="checkbox" name="store" value="1" id="input-store" class="form-check-input"/>
        <label for="input-store" class="form-check-label"><strong>{{ text_store }}</strong></label>
      </div>
    {% endif %}

    <div class="d-inline-block pt-2 pd-2 w-100">
      <button type="submit" id="button-confirm" class="btn btn-primary">{{ button_confirm }}</button>
    </div>
  </form>
</fieldset>
<script language="javascript">
function fieldsAvailableCollectJS() {
	document.getElementById('nmi-collectjs-loading').remove();
}

function tokenCallbackCollectJS(resp) {
	document.getElementById('token').value = resp.token;
	$.ajax({
		url: 'index.php?route=extension/open929/payment/nmi_collectjs|send&language={{ language }}',
		type: 'post',
		data: $('#payment :input'),
		dataType: 'json',
		cache: false,
		beforeSend: function() {
			$('#button-confirm').prop('disabled', true).addClass('loading');
		},
		complete: function() {
			$('#button-confirm').prop('disabled', false).removeClass('loading');
		},
		success: function(json) {
			if (json.error) {
				$('#alert').prepend('<div class="alert alert-danger alert-dismissible"><i class="fas fa-exclamation-circle"></i> ' + json.error + ' <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');
			}

			if (json.redirect) {
				location = json.redirect;
			}
		}
	});
}

var CollectJSErrFd = {
	"ccnumber": document.getElementById("error-ccnumber"),
	"ccexp": document.getElementById("error-ccexp"),
	"cvv": document.getElementById("error-cvv")
};

var CollectJSTimeoutFd = document.getElementById("nmi-collectjs-timeout");
var ConfirmButton = document.getElementById("button-confirm");

function validationCallbackCollectJS(field, status, message) {
	var fd = CollectJSErrFd[field];
	if (status) {
		fd.classList.add("d-none");
	} else {
		fd.innerText = message;
		fd.classList.remove("d-none");
	}
}

function timeoutCallbackCollectJS() {
	CollectJSTimeoutFd.classList.remove("d-none");
}

function configureCollectJS() {
	CollectJS.configure({
		"variant": "inline",
		"styleSniffer": "false",
		"customCss": {
			"border": "none",
			"border-color": "transparent",
			"outline": "none",
			"outline-color": "transparent"
		},
		"fieldsAvailableCallback": fieldsAvailableCollectJS,
		"fields": {
			"ccnumber": {
				"placeholder": "{{ entry_cc_number }}"
			},
			"ccexp": {
				"placeholder": "{{ entry_cc_expire_date }}"
			},
			"cvv": {
				"placeholder": "{{ entry_cc_cvv2 }}"
			}
		},
		"callback": tokenCallbackCollectJS,
		"validationCallback": validationCallbackCollectJS,
		"timeoutDuration": 2000,
		"timeoutCallback": CollectJSTimeoutFd
	});
	ConfirmButton.addEventListener("click", CollectJS.startPaymentRequest);
}

var sc = document.createElement("SCRIPT");
sc.src = "https://secure.nmi.com/token/Collect.js";
sc.setAttribute("data-tokenization-key", "{{ payment_nmi_collectjs_tokenization_key }}");
sc.onload = configureCollectJS;
document.getElementsByTagName("HEAD")[0].appendChild(sc);
</script>